    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
            <a href="javascript:;">   
                            <i class="iconfont">&#xe6b8;</i>
                            <cite>系统守则</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                                <a href="/regime"> 
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>三大会计制度</cite>
                                </a>
                            </li >            
            </ul>
            </li>
            
            <li>
                <a href="javascript:;">   
                    <i class="iconfont">&#xe723;</i>
                    <cite>系统初始化</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu" >
                        <li>
                            <a href="/initial"> 
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>初始化设置</cite>
                            </a>
                        </li >            
                </ul>
                <ul class="sub-menu" >
                        <li>
                            <a href="/iniaccount"> 
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>会计科目初始化</cite>
                            </a>
                        </li >            
                </ul>
                <ul class="sub-menu" >
                    <li>
                        <a href="/tableReload"> 
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>摘要管理</cite>
                        </a>
                    </li >            
                </ul>
            </li>
            <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe723;</i>
                        <cite>凭证管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/accdoc">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>凭证列表</cite>
                            </a>
                        </li >
                    </ul>
                    <ul class="sub-menu" >
                            <li>
                                <a href="/recordacc"> 
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>按月入账</cite>
                                </a>
                            </li >            
                    </ul>
            </li>
            <li>
                    <a href="javascript:;">   
                        <i class="iconfont">&#xe723;</i>
                        <cite>账簿管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" >
                        <li>
                            <a href="/glacc"> 
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>总分类账</cite>
                            </a>
                        </li >            
                    </ul>
                    <ul class="sub-menu" >
                            <li>
                                <a href="/docitem"> 
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>明细账</cite>
                                </a>
                            </li >            
                    </ul>
                    <ul class="sub-menu" >
                            <li>
                                <a href="/settleacc"> 
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>月末结账</cite>
                                </a>
                            </li >            
                    </ul>
            </li>
                <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe723;</i>
                            <cite>财务报表</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/balancesheet">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>资产负债表</cite>
                                </a>
                            </li >
                        </ul>
                        <ul class="sub-menu">
                                <li>
                                    <a href="/plsheet">
                                        <i class="iconfont">&#xe6a7;</i>
                                        <cite>损益表</cite>
                                    </a>
                                </li >
                        </ul>
                </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/manageuser">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe726;</i>
                        <cite>客户管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/customer">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>客户列表</cite>
                            </a>
                        </li >
                    </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6ce;</i>
                    <cite>系统统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="echarts1.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>拆线图</cite>
                        </a>
                    </li >
                </ul>
            </li>
        </ul>
      </div>
    </div>