<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="./css/font.css">
  <link rel="stylesheet" href="./css/xadmin.css">
  <link rel="stylesheet" href="./lib/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<br>
<div class="demoTable">
    <!--<ul class="layui-tab-title">
        <li class="layui-this">记账凭证</li>
    </ul>-->
    <div class="layui-inline layui-col-md12 x-so">
        <div class="layui-inline">
                <label class="layui-form-label">凭证号：<%= init[0].currnum %> </label>
                <!--<div class="layui-input-inline">
                        <input type="text" name="adnum"  placeholder="请输入凭证号" id="adnum" autocomplete="off" class="layui-input">
                </div>-->
        </div>       
        <div class="layui-inline">
            <!--<label class="layui-form-label">录入日期</label>-->
            <div class="layui-input-inline">
              <input type="text" class="layui-input" id="docdate" placeholder="录入日期(yyyy-MM-dd)" lay-verify="required">
            </div>
        </div>
        <div class="layui-inline">
                <div class="layui-input-inline">
                  <input type="text" class="layui-input" id="maker" placeholder="制单人" lay-verify="required">
                </div>
        </div>
        <div class="layui-inline">
          <div class="layui-input-inline">
          <select name="contrller" class="layui-select" id="type">
            <option>现金凭证</option>
            <option>银行凭证</option>
            <option>转账凭证</option>
          </select>
        </div>
        </div>
        <!--
        <div class="layui-inline">
          <div class="layui-input-inline">
            <input type="text" class="layui-input" id="type" placeholder="凭证类型(现/银/转)" lay-verify="required">
          </div>
        </div>-->
      <!--<button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>-->
    </div> 
    <xblock>
            <button class="layui-btn" data-type="addLine"><i class="layui-icon"></i>新建</button>
            <button class="layui-btn" data-type="recordAD"><i class="layui-icon">&#xe61f;</i>批量保存</button>
            <button class="layui-btn" data-type="submitAD"><i class="layui-icon">&#xe61f;</i>保存凭证</button>
    </xblock>
</div>

<table class="layui-hide" id="LAY_table_addaccdoc" lay-filter="addaccdoc"></table>

<script src="./lib/layui/layui.js" charset="utf-8"></script>

<script>
layui.use('table', function(){
    var table = layui.table;
    
    //方法级渲染
    table.render({
      elem: '#LAY_table_addaccdoc'
      ,url: '/api/addaccdoc'
      ,cols: [[ //表头
        {checkbox: true, fixed: true}
        ,{field:'id', title:'id', width:90, sort:true, edit: 'text', fixed: 'left'}
        ,{field:'num', title: '凭证号', width:100, sort: true, edit: 'text'}
        ,{field:'headercode', title:'摘要编号', width:80, edit: 'text'}
        ,{field:'headername', title:'摘要名称', width:150, edit: 'text'}
        ,{field:'acccode', title:'科目编号', width:80, edit: 'text'}
        ,{field:'accname', title:'科目名称', width:140, edit: 'text'}
        ,{field:'debit', title:'借方金额', width:120, edit: 'text'}
        ,{field:'credit', title:'贷方金额', width:120, edit: 'text'}
        ,{field: 'operation', title: '操作', fixed: 'right', width:150, align:'center', toolbar: '#barDemo'}
      ]]
      ,id: 'addaccdoc'
      ,page: true
      ,limit: 20
      ,height: 315
    });

    table.reload("addaccdoc",{
         page: {
             curr: 1 //重新从第 1 页开始
             }
         ,where: {
        }
    });
  
    var $ = layui.$, active = {
    addLine: function(){ //获取选中数据
      layer.prompt({title: '请输入您要添加的行数(≤20)', formType: 1}, function(pass, index){
      layer.close(index);
      layer.msg('将会为您新建：'+ pass +'行');
      layui.use('table', function(){
      var table = layui.table;
        table.reload("addaccdoc",{
         page: {
             curr: 1 //重新从第 1 页开始
             }
         ,where: {
            new: pass
          }
        });
      });
    });
    }
    /*
    ,recordAD: function(obj){
        var checkStatus = table.checkStatus('addaccdoc');
        var data = checkStatus.data;
        for(var i = 0; i < data.length; i++){
        if((data[i].num == "")||(data[i].id == "")||(data[i].deibt == "")||
            (data[i].credit == "")||(data[i].headercode == "")||
                (data[i].headername == "")||(data[i].acccode == "")||
                    (data[i].accname == "")) 
                    {layer.alert("id为"+data[i].id+"的凭证有空项！");}
        }
        if(!$("#docdate").val()) {layer.alert("请输入录入日期！");}
        else if(!$("#maker").val()) {layer.alert("请输入制单人！");}
        else if(!$("#type").val()) {layer.alert("请输入凭证类型！");}
        else{
          console.log(data);
        layer.confirm('确定录入凭证吗？', function(index){
          $.ajax({
                  type : "post",
                    url: "/addcheckdocitem",
                    data:{
                    docdate: $("#docdate").val()
                   ,maker: $("#maker").val()
                   ,type: $("#type").val()
                   ,datas : data
                  },
                  success: function(data) { 
                   //判断是否成功
                    layer.alert(data);
                    }
                 });
        });
     }
    }
    */
    ,recordAD: function(obj){
        var checkStatus = table.checkStatus('addaccdoc');
        var data = checkStatus.data;
        var flag = 1;
        if(!$("#docdate").val()) {layer.alert("请输入录入日期！");}
        else if(!$("#maker").val()) {layer.alert("请输入制单人！");}
        else if(!$("#type").val()) {layer.alert("请输入凭证类型！");}
        else{
        for(var i = 0; i < data.length; i++){
        if((data[i].num == "")||(data[i].id == "")||(data[i].deibt == "")||
            (data[i].credit == "")||(data[i].headercode == "")||
                (data[i].headername == "")||(data[i].acccode == "")||
                    (data[i].accname == "")) 
                    {layer.alert("第"+i+"行的凭证条目有空项！"); flag = 0;}
        }
        if(flag == 1){
        layer.confirm('确定录入选中的凭证条目吗？', function(index){
          for(var i = 0; i < data.length; i++){
          $.ajax({
           type : "post",
           url: "/adddocitem",
           data:{
               num: data[i].num
               ,id: data[i].id
               ,debit: data[i].debit
               ,credit: data[i].credit
               ,headercode: data[i].headercode
               ,headername: data[i].headername
               ,acccode: data[i].acccode
               ,accname: data[i].accname
               ,docdate: $("#docdate").val()
            },
           success: function(data) { 
            }
          });
          $(obj).parents("tr").remove();
                 layer.msg('已添加!',{icon:1,time:1000});
                layer.close(index);//关闭
        }
        });
      }
     }
    }
    ,submitAD: function(obj){
      layer.confirm('确定保存凭证吗？', function(index){
          //判断借贷是否平衡
          $.ajax({
                  type : "post",
                    url: "/checkbalance",
                    data:{
                    docdate: $("#docdate").val()
                   ,maker: $("#maker").val()
                   ,type: $("#type").val()
                  },
                  success: function(data) { 
                   //判断是否成功
                    layer.alert(data);
                    }         
                 });
      });
    }
  };
  
  $('.demoTable .layui-btn').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });


table.on('tool(addaccdoc)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
  var data = obj.data; //获得当前行数据
  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
  var tr = obj.tr; //获得当前行 tr 的DOM对象
  if(layEvent === 'del'){ //删除
    layer.confirm('真的删除行么', function(index){
         //向服务端发送删除指令
        $.ajax({
           type : "post",
           url: "/deletedocitem",
           data:{
              id : obj.data.id
              ,num : obj.data.num
            },
           success: function(data) { 
              //判断是否删除成功
              $(obj).parents("tr").remove();
                 layer.msg('已删除!',{icon:1,time:1000});
                 layer.close(index);//关闭
           }
        });
        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
        layer.close(index);
    });
  }
  /*
  else if(layEvent === 'add'){ //添加
    if((obj.data.num == "")||(obj.data.id == "")||(obj.data.deibt == "")||
            (obj.data.credit == "")||(obj.data.headercode == "")||
                (obj.data.headername == "")||(obj.data.acccode == "")||
                    (obj.data.accname == "")) {layer.alert("id为"+obj.data.id+"的凭证有空！");}
    else{
    layer.confirm('添加凭证条目吗？', function(index){
         //向服务端发送保存指令
        $.ajax({
           type : "post",
           url: "/adddocitem",
           data:{
               num: obj.data.num
               ,id: obj.data.id
               ,debit: obj.data.debit
               ,credit: obj.data.credit
               ,headercode: obj.data.headercode
               ,headername: obj.data.headername
               ,acccode: obj.data.acccode
               ,accname: obj.data.accname
            },
           success: function(data) { 
              //判断是否保存成功
              $(obj).parents("tr").remove();
                 layer.msg('已添加!',{icon:1,time:1000});
                 layer.close(index);//关闭
           }
        });
    });
    }
  }
  else if(layEvent === 'save'){ //添加
    //判断是否全部非空
    layer.confirm('保存凭证条目的修改吗？', function(index){
         //向服务端发送保存指令
        $.ajax({
           type : "post",
           url: "/savedocitem",
           data:{
               num: obj.data.num
               ,id: obj.data.id
               ,debit: obj.data.debit
               ,credit: obj.data.credit
               ,headercode: obj.data.headercode
               ,headername: obj.data.headername
               ,acccode: obj.data.acccode
               ,accname: obj.data.accname
            },
           success: function(data) { 
              //判断是否保存成功
              $(obj).parents("tr").remove();
                 layer.msg('已保存!',{icon:1,time:1000});
                 layer.close(index);//关闭
           }
        });
    });
  }
  */
});

});
</script>
<script type="text/html" id="barDemo">
    <!--<a class="layui-btn layui-btn layui-btn-xs" lay-event="add">添加</a>
    <a class="layui-btn layui-btn layui-btn-xs" lay-event="save">保存</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>
<script>

          
layui.use('table', function(){
  var table = layui.table;
  
  //监听单元格编辑
  table.on('edit(addaccdoc)', function(obj){
    var value = obj.value //得到修改后的值
    ,data = obj.data //得到所在行所有键值
    ,field = obj.field; //得到字段
    layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
  });
});

</script>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //常规用法
  laydate.render({
    elem: '#docdate'
  });
});
</script>

</body>
</html>