<%- layout('style') -%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="./css/font.css">
  <link rel="stylesheet" href="./css/xadmin.css">
  <link rel="stylesheet" href="./lib/layui/css/layui.css"  media="all">
  <script type="text/javascript" src="./js/xadmin.js"></script>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>-->

  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<div class="x-body">  
        
                <!--<blockquote class="layui-elem-quote"></blockquote>-->
                <fieldset class="layui-elem-field">
                  <legend>三大会计制度</legend>
                  <div class="layui-field-box">
    <blockquote class"layui-elem-quote layui-quote-nm">现行的三个会计制度包括:企业会计准则、企业会计制度和小企业会计准则
                <br>一、企业会计准则　　现行的企业会计准则(2006)体系由三个层次组成：
            　　1、企业会计准则——基本准则。由财政部颁布(中华人民共和国财政部令第33号 2006年2月15日)，属于财政部部门规章，自2007年1月1日起施行。
            　　2、企业会计准则——具体准则。由财政部发布(财会[2006] 3号2006年2月15日)，属于财政部规范性文件，自2007年1月1日起在上市公司范围内施行，鼓励其他企业执行(执行具体准则的企业不再执行原准则、《企业会计制度》和《金融企业会计制度》)。
            　　具体准则共计38项。
            　　3、企业会计准则——应用指南。由财政部发布(财会[2006] 18号 2006年10月30日)，属于财政部规范性文件，自2007年1月1日起在上市公司范围内施行，鼓励其他企业执行(执行应用指南的企业不再执行原准则、《企业会计制度》和《金融企业会计制度》、各项专业核算办法和问题解答)。
            　　应用指南共计32项，并附录《会计科目和主要账务处理》。
            　　对于《企业会计准则第15号——建造合同》、《企业会计准则第25号——原保险合同》、《企业会计准则第26号——再保险合同》、《企业会计准则第29号——资产负债表日后事项》、《企业会计准则第32号——中期财务报告》、《企业会计准则第36号——关联方披露》、《企业会计准则第38号——首次执行企业会计准则》等6项具体准则，财政部未发布应用指南。
            　　上述基本准则、具体准则、应用指南三个方面，依次自上而下形成企业会计准则的三个层次，构成我国的企业会计准则体系(2006)，并具有法律法规上效力，在规定的范围内(港、澳、台除外)强制执行。
            <br>二、企业会计制度
            　　由财政部发布的《企业会计制度》(财会[2000] 25号 2008年12月28日)，属于财政部规范性文件，从2001年1月1日起在股份有限公司执行，自2002年1月1日起在中外合资企业范围内实行，其他企业仍然执行分行业的会计制度。
            　　《企业会计制度》共计十四章一百六十条，主要内容包括会计制度原则、会计记帐方法、会计科目及其使用说明、会计凭证、会计帐簿和记帐程序、会计报表格式、报送程序和编制说明、会计档案的保管和处理方法、会计制度的修订、补充权限及其他有关规定、成本核算方法等。
            　　企业会计制度和企业会计准则的区别：《企业会计制度》和《企业会计准则》两者均属于行政规范性文件，均对会计要素的确认、计量、披露或报告等作出规定，均由财政部制定并公布，均在全国范围内实施，均属于国家统一的会计核算制度的组成部分。 但会计制度是以特定行业的企业或所有的企业为对象，着重对会计科目的设置、使用和会计报表的格式及其编制加以详细规范;会计准则是以特定的经济业务(交易或事项)或特定的报表项目为对象，它详细分析各项业务或项目的特点，规定所引用概念的定义，然后以确认与计量为中心并兼顾披露，对围绕该业务或项目有可能发生的各种问题做出处理的规范。
            <br>三、小企业会计准则
            　　《小企业会计准则》于2011年10月18日由中华人民共和国财政部以财会〔2011〕17号印发。该《准则》分总则、资产、负债、所有者权益、收入、费用、利润及利润分配、外币业务、财务报表、附则10章90条，自2013年1月1日起施行。财政部2004年发布的《小企业会计制度》(财会〔2004〕2号)予以废止。
            　　《小企业会计准则》的选型标准，可根据2011年6月18日工业和信息化部、国家统计局、发展改革委、财政部研究制定的《中小企业划型标准规定》(工信部联企业[2011]300号)，原国家经贸委、原国家计委、财政部和国家统计局2003年颁布的《中小企业标准暂行规定》同时废止。</blockquote>
                  </div>
                </fieldset>
                
</div>
</body>
</html>
