<%- layout('style') -%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="./css/font.css">
  <link rel="stylesheet" href="./css/xadmin.css">
  <link rel="stylesheet" href="./lib/layui/css/layui.css"  media="all">
  <script type="text/javascript" src="./js/xadmin.js"></script>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>-->

  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
          <a href="">首页</a>
          <a href="">演示</a>
          <a>
            <cite>导航元素</cite></a>
        </span>
      </div>
<div class="x-body">   
<div class="demoTable">
  <div class="layui-inline layui-col-md12 x-so">
    <input class="layui-input" name="code" placeholder="摘要编号" lay-verify="required" id="codeReload" autocomplete="off">
    <input class="layui-input" name="name" placeholder="摘要名称" id="nameReload" autocomplete="off">
    <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
  </div>


<xblock>
    <button class="layui-btn layui-btn-danger" data-type="delCheckData"><i class="layui-icon"></i>批量删除</button>
    <button class="layui-btn" onclick="x_admin_show('添加摘要','/addheader')"><i class="layui-icon"></i>添加</button>
</xblock>
</div>
</div>
 
<table class="layui-hide" id="LAY_table_header" lay-filter="head"></table> 
               
          
<script src="./lib/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //方法级渲染
  table.render({
    elem: '#LAY_table_header'
    ,url: '/api/header'
    ,cols: [[ //表头
      {checkbox: true, fixed: true}
      ,{field: 'code', title: '摘要编号', width:300, sort: true, fixed: 'left'}
      ,{field: 'name', title: '摘要名称', width:400}
      ,{field: 'operation', title: '操作', fixed: 'right', width:200, align:'center', toolbar: '#barDemo'}
    ]]
    ,id: 'idTest'
    ,page: true
    ,height: 315
  });
  
  var $ = layui.$, active = {
    reload: function(){
      var codeReload = $('#codeReload');
      var nameReload = $('#nameReload');
      
      //执行重载
      table.reload('idTest', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
            headercode: codeReload.val()
            ,headername: nameReload.val()
        }
      });
    }
    ,delCheckData: function(obj){ //获取选中数据
      var checkStatus = table.checkStatus('idTest');
      var data = checkStatus.data;
      layer.confirm('确定删除吗？ '+ JSON.stringify(data), function(){
         //向服务端发送删除指令
        $.ajax({
           type : "post",
           url: "/delallheader",
           data:{
              'datas' : data
            },
           success: function(data) { 
              //判断是否删除成功
              $(obj).parents("tr").remove();
                 layer.msg('已删除!',{icon:1,time:1000});
                 layer.close(index);//关闭
           }
        });
        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
        layer.close(index);
    });
      }

  };

  
  $('.demoTable .layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });

table.on('checkbox(head)', function(obj){
      console.log(obj)
        });


table.on('tool(head)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
  var data = obj.data; //获得当前行数据
  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
  var tr = obj.tr; //获得当前行 tr 的DOM对象
  if(layEvent === 'del'){ //删除
    layer.confirm('真的删除行么', function(index){
         //向服务端发送删除指令
        $.ajax({
           type : "post",
           url: "/deleteheader",
           data:{
              'headercode' : obj.data.code
            },
           success: function(data) { 
              //判断是否删除成功
              $(obj).parents("tr").remove();
                 layer.msg('已删除!',{icon:1,time:1000});
                 layer.close(index);//关闭
           }
        });
        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
        layer.close(index);
    });
  }
  /* else if(layEvent === 'edit'){ //编辑
    //do something
        
    //同步更新缓存对应的值
    obj.update({
      headercode: '123'
      ,headername: 'xxx'
    });
  }*/
});



 


});
</script>

</body>
</html>