<%- layout('style') -%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>table模块快速使用</title>
  <!-- <link rel="stylesheet" href="/public/lib/layui/css/layui.css" media="all"> -->
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="./css/font.css">
  <link rel="stylesheet" href="./css/xadmin.css">
  <link rel="stylesheet" href="/layui/css/layui.css" media="all">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./js/xadmin.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
  <script src="http://malsup.github.com/jquery.form.js"></script>
  
</head>
<body>
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">首页</a>
      <a href="">演示</a>
      <a>
        <cite>导航元素</cite></a>
    </span>
  </div>
  <div class="x-body">
    <div class="layui-row">
      <form class="layui-form layui-col-md12 x-so" action="">
          <div class="layui-form-item">
                <input type="text" id="headercode" name="headercode" required  lay-verify="required" placeholder="摘要编号" autocomplete="off" class="layui-input">
                <input type="text" id="headername" name="headername"  placeholder="摘要名称" autocomplete="off" class="layui-input">
                <button class="layui-btn"  lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
      </form>
    </div>
    <xblock>
      <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
      <button class="layui-btn" onclick="x_admin_show('添加用户','/addheader')"><i class="layui-icon"></i>添加</button>
      <span class="x-right" style="line-height:40px">共有数据： 条</span>
    </xblock>

<table id="demo" lay-filter="test"></table>
 
<script type="text/html" id="barDemo">
  <!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a> -->
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
 
<!-- <script src="/public/lib/layui/layui.js"></script> -->

<script>
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 315
    ,url: '/api/header' //数据接口
    ,page: true //开启分页
    ,id: 'demoTest'
    ,cols: [[ //表头
      {type:'checkbox', fixed: 'left'}
      ,{field: 'code', title: '摘要编号', width:300, sort: true, fixed: 'left'}
      ,{field: 'name', title: '摘要名称', width:380}
      ,{field: 'operation', title: '操作', fixed: 'right', width:180, align:'center', toolbar: '#barDemo'}
    ]]
  });


table.on('tool(demo)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    //if(layEvent === 'detail'){
    //  layer.msg('查看操作');
    //}
    if(layEvent === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del(); //删除对应行（tr）的DOM结构
        layer.close(index);
        //向服务端发送删除指令
      });
    } else if(layEvent === 'edit'){
      layer.msg('编辑操作');
    }
  });


layui.use('form',function(){

form.on('submit(search)',function(data){
  table.reload({
   where: { //设定异步数据接口的额外参数，任意设
    //headercode: $("#headercode").val()
    //,headername: $("#headername").val(),
    headercode: cn.code
    ,headername: cn.name
  }
  ,page: {
    page: 1 //重新从第 1 页开始
  }
  });
  return false;
});
});
});
/*
table.on('tool(demo)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    //if(layEvent === 'detail'){
    //  layer.msg('查看操作');
    //}
    if(layEvent === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del(); //删除对应行（tr）的DOM结构
        layer.close(index);
        //向服务端发送删除指令
      });
    } else if(layEvent === 'edit'){
      layer.msg('编辑操作');
    }
  });
  
});
*/
/*
layui.use('form', function(){
    var form = layui.form;

    form.on('submit(search)', function(data){
            var headercode = $('input[name=headercode]').val(),
            headername = $('input[name=headername]').val();
            $(this).ajaxSubmit({
            type: 'get', // 提交方式 get/post
            url: '/tableTest', // 需要提交的 url
            dataType: "json",
            data: {
                'headercode': headercode,
                'headername': headername
            },
            success: function(data) { 
               alert(data);
            }
            //$(this).resetForm(); // 提交后重置表单
        });
    return false; // 阻止表单自动提交事件
  });
});
*/




</script>
</body>
</html>